@import "tailwindcss";
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
 */

/* app/globals.css */
:root {
  --line-height-text: 1.6;
  --line-height-heading: 1.2;
}

.text-content {
  line-height: var(--line-height-text);
}

.heading-content {
  line-height: var(--line-height-heading);
}